html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}
p {
  text-align: center;
}
.container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 310px;
  height: 558px;
  background-color: #D7D7DA;
  border: 5px solid black;
  border-radius: 10px;
}

.calculator {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  height: 548px;
  border-radius: 10px;
}

.calc-item {

  border-radius: 10px;
  background: #3D3C42;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-item.screen input{
  height: 100%;
  width: 100%;
  text-align: right;
  background-color: #9C9F96;
  color: black;
  font-size: 25px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  outline: none;
}

.calc-item.screen input:focus{
  border: none;
}

.calc-item.screen{
  background-color: #9C9F96;
  color: black;
  grid-row: span 1;
  grid-column: span 4;
  font-size: 30px;
}

.calc-item.button{
  user-select: none;
  grid-row: span 1;
  grid-column: span 1;
}

.calc-item.button.clear {
  background-color: salmon;
}

.calc-item.button.num {
  background-color: grey;
}

.calc-item.button:active{
  background: grey;
}

.calc-item.button.num:active{
  background: #3D3D3D;
}

.calc-item.button.clear:active{
  background: #3D3D3D;
}

.calc-item.zero {
  grid-row: span 1;
  grid-column: span 2;
}
